@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&display=swap");

.App {
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}
li {
  list-style: none;
}
body {
  background-color: #f1d5bb;
  font-family: "Poppins", sans-serif;
}

@media only screen and (min-width: 800px) {
  .App {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    max-width: 1340px;
  }
}
